{% extends "base.html" %}
{% block title %}个人主页{% endblock %}
{% block page_content %}
<h3>
    {{ user.username }}的个人主页
    {% if user.verify_permission(Permission.ADMINISTRATOR) %}[Admin]{% endif %}
    {% if user.banned %}
        [被封禁用户]
        {% if current_user == user %}
            {% if not user.ask_for_lift_ban and current_user == user %}
                <a href="{{ url_for('auth.ask_for_lift_ban') }}">申请解封</a>
            {% else %}
                已申请解封
            {% endif %}
        {% endif %}
    {% endif %}
</h3>
{% if current_user.id == user.id %}
<a href="{{ url_for('home.upload_picture') }}">
{% endif %}
    {% if not user.picture_disabled %}
        {% if user.picture_url %}
            <img src="{{ url_for('static',filename=user.picture_url) }}" align="left" width="100" height="100" alt="个人头像" />
        {% else %}
            <img src="{{ url_for('static',filename='picture/before.jpg') }}" align="left" width="100" height="100" alt="未设置个人头像" />
        {% endif %}
    {% else %}
        <img src="{{ url_for('static',filename='picture/disabled.jpg') }}" align="left" width="100" height="100" alt="已禁用图片" />
    {% endif %}
{% if current_user.id == user.id %}
</a>
{% endif %}
<p>
{% if user.about_me and not user.about_me_disabled %}
    {{ user.about_me }}
{% endif %}
{% if user.about_me_disabled %}
    <p>已禁用的个人简介，解禁请联系管理员</p>
{% endif %}
</p>
{% if current_user.id == user.id %}
    <a href="{{ url_for('home.edit_about_me') }}">编辑</a>
{% endif %}
{% if current_user.id != user.id and not user.verify_permission() and current_user.verify_permission(Permission.MANAGE_HOMEPAGE) %}
    {% if not user.about_me_disabled %}
        <a href="{{ url_for('home.disable_about_me',id=user.id) }}">禁用个人简介</a>
    {% else %}
        <a href="{{ url_for('home.able_about_me',id=user.id) }}">启用个人简介</a>
    {%endif%}
    <br />
{%endif%}
<br />
<br />
<br />
<br />
<br />
{% if current_user.id != user.id and not user.verify_permission() and current_user.verify_permission(Permission.MANAGE_HOMEPAGE) %}
    {% if not user.picture_disabled %}
        <a href="{{ url_for('home.disable_picture',id=user.id) }}">禁用头像</a>
    {% else %}
        <a href="{{ url_for('home.able_picture',id=user.id) }}">启用头像</a>
    {%endif%}
    <br />
{%endif%}
<small>注册时间：{{ moment(user.register_time).format('LLL') }},
  最近一次登录时间：{{ moment(user.last_login_time).fromNow() }}</small>
{% endblock %}
